.formbox {
    display: grid;
    justify-content: flex-end;
}

.each_line {
    display: block;
    justify-content: space-around;
}

.form_elements {
    font-size: rem;
    justify-content: flex-start;
    align-self: center;
}

input::-webkit-inner-spin-button {
    display: none;
}

.form_input {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
}

.submit_button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: solid black;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}

.answer{
    font-size: 2rem;
    text-align: right;
    margin: 2rem;
    color:cadetblue;
    font-weight: bold;
}
